<% if month.first_week_days.length < 7%>
  <% month.first_week_days.each do |day| %>
    <li class="day other-month">
      <div class="date"><%= day %></div>
      <%= link_to 'New', new_month_task_path(month, day), class: 'new-task' %>
      <%= task_for_day(month, day) %>
      <%= more_tasks(month, day) %>
    </li>
  <% end %>
<%end%>
