<% if month.first_week_days.length < 7%>
  <% month.first_week_days.each do |day| %>
    <li class="day other-month">
      <div class="date"><%= day %></div>
      <%= new_task_form(month, day) %>
      <%= task_for_day(month, day) %>
      <%= more_tasks(month, day) %>
    </li>
  <% end %>
<%end%>
