<script id="other-days-template" type="text/x-handlebars-template">
  {{#each this}}
    <li class="day other-month" id="other-month-{{this}}">
      <div class="date">{{this}}</div>
      <a href="#" onclick="renderForm(this); return false;" class='new-task' data-id='{{this}}' data-month='current'>New</a>
    </li>
  {{/each}}
</script>

<script id="days-template" type="text/x-handlebars-template">
  {{#each this}}
    <li class="day" id="day-month-{{this}}">
      <div class="date">{{this}}</div>
      <a href="#" onclick="renderForm(this); return false;" class='new-task' data-id='{{this}}' data-month='current'>New</a>
    </li>
  {{/each}}
</script>


  
<script id="event-template" type="text/x-handlebars-template">
  <div class="event">
    <div class="event-desc" id="task-{{day}}">
        {{ content }}
    </div>
    <div class="event-time">
        {{ time }}
    </div>
  </div>
</script>

<script id="form-template" type="text/x-handlebars-template">
  <div id="month-page-form">
    <a id="close-form" href="#">x</a>
    <div class="forms">
      <%= form_for [@month, @task] do |f| %>
        <%= render partial: 'tasks/form', locals: {month: @month, task: @task, f: f} %>
      <%end%>
    </div>
  </div>
</script>
