<div id="calendar-wrap">
            <header>
                <h1>
                  <%= month_header(@month) %>
                </h1>
            </header>
            <div class="month-nav" id= 'prev-month'>
              <%= link_to 'Last Month', prev_month(@month), %>
            </div>
            <div class="month-nav" id= 'next-month'>
              <%= link_to 'Next Month', next_month(@month) %>
            </div>
            <div id="calendar">
                <ul class="weekdays">
                    <li>Sunday</li>
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                    <li>Saturday</li>
                </ul>

            <%= render partial: 'months/days', locals: {month: @month} %>

            </div><!-- /. calendar -->
        </div><!-- /. wrap -->
