<div id="calendar-wrap">
  <header>
    <h1>
      <%= month_header(@month) %>
    </h1>
  </header>
  <div id="calendar">
    <ul class="weekdays">
        <li>Sunday</li>
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
    </ul>
    <ul class= 'days'>
      <%= render partial: 'months/prev_month_days', locals: {month: prev_month(@month)} %>
      <%= render partial: 'months/days', locals: {month: @month} %>
      <%= render partial: 'months/next_month_days', locals: {month: next_month(@month)} %>
    </ul>
  </div><!-- /. calendar -->
</div><!-- /. wrap -->
