#mytopnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#mytopnav li {
    float: left;
    border-right:1px solid #bbb;
}

#mytopnav li:last-child {
    border-right: none;
}

#mytopnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#mytopnav li a:hover:not(.active) {
    background-color: #8e352e;
}

#username {
    margin: auto;
}

@media screen and (max-width: 600px){
    ul.mytopnav li.right, 
    ul.mytopnav li {float: none;}
}